<!DOCTYPE html>
<html>
  <head>
    <title>Buscador</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<header>
    <b class="titlef">¡Guarda Videos!</b>
   <nav>
       <a class="options">Top videos</a>
   </nav>
 </header>
  
    <div> 
      <link href="/static/style.css" rel="stylesheet" type="text/css" ></link>
      <form action = "/process_post/" id="formulario" method = "POST" >
      <h2 class="gv"> Guarda tu video </h2>
         <input type= 'url' name='url'  id="url"   placeholder='Agrega la direccion del video' required/>  <br> </br>
         <input type= 'text' name='personas' id="personas"     placeholder='Quién creó el video' /> <br>  </br>      
         <input type= 'text' name='temas' id="temas"     placeholder='Agrega los temas relacionados' /> <br> </br>
         <input type= 'date' name='fechas'  id="fechas"  /> <br> </br>
         <button class="button" type="submit" >+</button> <br> </br> 
      </form>
    </div> 
 <div class="ft">     
   <form action="/search" method="get" class="form 2">
   <h2 class="lista"> Lista de videos </h2>
       <label class="bar"for="texto">Filtrar:<label>
       <input class="Busqueda" id="texto" type="text" name="texto" id="imput2" placeholder="Personas, temas, o urls..."  />
       <button class="search" type="submit">Buscar</button>
   </form>
  <table class="tab" border="white" >
     <thead>
     	<tr>
     		<th>Id</th>
     		<th>Url</th>
     		<th>Creador</th>
     		<th>Tema</th>
     		<th>Fecha</th>
     	</tr>
     </thead>
     <tbody>
      <% for(var i=0; i < listado.length; i++) {%>
   		<tr>
   			<td>
   			<%= listado[i].id %>
   			</td>
   			<td>
   			<%= listado[i].url %>
   			</td>
   			<td>
   			 <%= listado[i].creador %>
   			</td>
   			<td>
   			 <%= listado[i].tema %>
   			</td>
   			<td>
   			 <%= listado[i].fecha %>
   			</td>
   		</tr>
	    <% } %>     
      <tbody>
     </table> 
    <div>
   </body>  
</html>
