<!DOCTYPE html>
<html>
  <head>
    <title>Buscador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link rel='icon' sizes="128x128" href='https://image.flaticon.com/icons/png/512/0/532.png'>
</head>
<body id="body">
	<header>
  		<h1 class="titulo">Guarda Videos</h1>
 </header>
  
  <div class="AddNewComponent"> 
 	 <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" href="#body">
  	 <i class="material-icons">add</i>
   </a>
  </div> 
 
  <link href="/static/style.css" rel="stylesheet" type="text/css"></link>
 	 <form action = "/process_post/" id="formulario" method = "POST" onsubmit="return validacion()">
    	 <div class="rightbarelement"> 
        	 <a class="mdl-button mdl-js-button mdl-button--icon" class="cerrar" href="#">
        	 <i class="material-icons" style="color: white;">clear</i>
        </a>            
 
 	<h2 class="tituloguardar"> Guarda tu video </h2>
 
 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
 	<input class="mdl-textfield__input" type="url" id="url" name="url">
  	<label class="mdl-textfield__label" for="url">Agrega la dirección</label>
</div>
  
 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="personas" name="personas">
    <label class="mdl-textfield__label" for="personas">Quién creó el video</label>
</div>
  
 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
    <input class="mdl-textfield__input" type="text" id="temas" name="temas">
    <label class="mdl-textfield__label" for="temas">Agrega los temas relacionados</label>
</div>
  
 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
     <input class="mdl-textfield__input" type="date" id="fechas" name="fechas">
     <label class="mdl-textfield__label" for="fechas"></label>
</div>
    
 <div class="Adelante">   
 	<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" style = "color: white;" onclick="console.log(event)">
    	<i class="material-icons">arrow_forward</i>
   </button>
  </div>
 </form>
</div> 
  
 <div class="fondo">     
   <div class="container">	
 	<form action="/search" method="get" class="form 2">
    <h2 class="lista"> Filtrar: </h2>
  <div class="search-component">
  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    	<input class="mdl-textfield__input" type="text" id="texto" name="texto">
		<label class="mdl-textfield__label" for="texto">Personas, temas, o urls...</label>
 </div>
	<button class="mdl-button mdl-js-button mdl-button--icon">
    	<i class="material-icons">search</i>
	 </button>
    </div>
 </form>
</div> 
 
 <div>  
 	<table class="mdl-data-table mdl-js-data-table" border="#FFFF00">
     <thead>
     	<tr>
     		<th>Id</th>
     		<th>Url</th>
     		<th>Creador</th>
     		<th>Tema</th>
     		<th>Fecha</th>
     	</tr>
     </thead>
    <tbody>
      <% for(var i=0; i < listado.length; i++) {%>
   		<tr>
   			<td>
   			<%= listado[i].id %>
   			</td>
   			<td><a href="">
   			<%= listado[i].url %>
   			</a></td>
   			<td>
   			 <%= listado[i].creador %>
   			</td>
   			<td>
   			 <%= listado[i].tema %>
   			</td>
   			<td>
   			 <%= listado[i].fecha %>
   			</td>
   		</tr>
	    <% } %>     
      <tbody>
     </table>
    </div> 
  <footer>
          &copy; 2018
       </div>
      </form>
     </footer>
    </div>    
   </body>  
</html>
