<!DOCTYPE html>
<html>
  <head>
    <title>Buscador</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body id="body">
  <header>
       <b class="titulo">¡Guarda Videos!</b>
      <nav>
        <a class="menu">Top videos</a>
       <a class="nuevo" href="#body">Nuevo</a>
    </nav>
 </header>
  
  <div> 
    <link href="/static/style.css" rel="stylesheet" type="text/css" ></link>
       <form action = "/process_post/" id="formulario" method = "POST" >
        <a class="cerrar" href="#">X</a>
         <h2 class="tituloguardar"> Guarda tu video </h2>
         <input type= 'url' name='url'  id="url"   placeholder=' Agrega la dirección del video' required/>  <br> </br>
         <input type= 'text' name='personas' id="personas"     placeholder=' Quién creó el video' /> <br>  </br>      
         <input type= 'text' name='temas' id="temas"     placeholder=' Agrega los temas relacionados' /> <br> </br>
         <input type= 'date' name='fechas'  id="fechas"  /> <br> </br>
         <button class="button" type="submit" >+</button> <br> </br> 
      </form>
    </div> 
  <div class="fondo">     
     <form action="/search" method="get" class="form 2">
       <h2 class="lista"> Lista de videos </h2>
       <label class="bar"for="texto">Filtrar:<label>
       <input class="Busqueda" id="texto" type="text" name="texto" id="imput2" placeholder="Personas, temas, o urls..."  />
       <button class="search" type="submit">Buscar</button>
     </form>
  <table id="tabla" border="#FFFF00">
     <thead>
     	<tr>
     		<th>Id</th>
     		<th>Url</th>
     		<th>Creador</th>
     		<th>Tema</th>
     		<th>Fecha</th>
     	</tr>
     </thead>
    <tbody>
      <% for(var i=0; i < listado.length; i++) {%>
   		<tr>
   			<td>
   			<%= listado[i].id %>
   			</td>
   			<td>
   			<%= listado[i].url %>
   			</td>
   			<td>
   			 <%= listado[i].creador %>
   			</td>
   			<td>
   			 <%= listado[i].tema %>
   			</td>
   			<td>
   			 <%= listado[i].fecha %>
   			</td>
   		</tr>
	    <% } %>     
      <tbody>
     </table>
           <footer>
         © 2018
 </footer>
    </div>
   </body>  
</html>
